[submodule "deps/mpris-java"]
	path = deps/mpris-java
	url = https://github.com/NTifyApp/mpris-java
[submodule "deps/JavaSetupTool"]
	path = deps/JavaSetupTool
	url = https://github.com/werwolf2303/JavaSetupTool
[submodule "deps/vlcj"]
	path = deps/vlcj
	url = https://github.com/NTifyApp/vlcj
[submodule "deps/librespot-java"]
	path = deps/librespot-java
	url = https://github.com/NTifyApp/librespot-java
[submodule "deps/mslinks"]
	path = deps/mslinks
	url = https://github.com/NTifyApp/mslinks
